<div class="ttproduct-main">
<div class="TTProduct-Tab TT-product-carousel products-list">
<div class="tthometab">
<div class="box-heading tthometab-title"><h3>{{ heading_title }}</h3></div>
<div id="TTPTab-{{ module }}" class="tab-box-heading">
	<ul class="nav nav-tabs">
	{% if featured_products%}
	  <li><a href="#tab-featured-{{ module }}" data-toggle="tab">{{ tab_featured }}</a></li>
	{% endif %}
	{% if latest_products%}
	  <li><a href="#tab-latest-{{ module }}" data-toggle="tab">{{ tab_latest }}</a></li>
	{% endif %}
	{% if bestseller_products%}
	  <li><a href="#tab-bestseller-{{ module }}" data-toggle="tab">{{ tab_bestseller }}</a></li>
	{% endif %}
	{% if special_products%}
	  <li><a href="#tab-special-{{ module }}" data-toggle="tab">{{ tab_special }}</a></li>
	{% endif %}
	</ul>
</div>
</div>
<div class="tab-content">
{% if featured_products %}
  <div id="tab-featured-{{ module }}" class="tab-pane row">
   <div class="products-carousel">
      {% for product in featured_products %}
	 <div class="product-layouts">
		<div class="product-thumb transition">
		<div class="ttimge-bg"></div>
		  <div class="image">
			{% if product.thumb_swap %}
					<a href="{{ product.href }}">
						<img class="image_thumb" src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" />
						<img class="image_thumb_swap" src="{{ product.thumb_swap }}" title="{{ product.name }}" alt="{{ product.name }}" />
					</a>
				{% else %}
					<a href="{{ product.href }}">
						<img class="img-responsive" src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" />
					</a>
			{% endif %}
			{% if product.special %}
			  <div class="sale-icon">Sale</div>
			  <span class="percent">-{{ product.percent }}%</span>
			{% endif %}

		  			<button class="btn-wishlist" title="{{ button_wishlist }}"  onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i>
			<span title="{{ button_wishlist }}">{{ button_wishlist }}</span>
			</button>

			  </div>	  
	  	  <div class="thumb-description">
      <div class="caption">

		{% if product.rating %}
		<div class="rating">
		  {% else %}
			<div class="rating no-rating">
		  {% endif %}
          {% for i in 1..5 %}
          {% if product.rating < i %}
          <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
          {% else %}
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
		  {% endif %}
		   {% endfor %}
        </div>
		
		<h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        <!--<p class="description">{{ product.description }}</p>-->
		{% if product.price %}
			<div class="price">
			  {% if not product.special %}
			  {{ product.price }}
			  {% else %}
			  <span class="price-new">{{ product.special }}</span> 
			  <span class="price-old">{{ product.price }}</span>
			  {% endif %} 
			  {% if product.tax %}
			  <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
			  {% endif %}
			</div>
		  {% endif %}

      </div>	  	  
		  <div class="button-group">
			 <button class="btn-cart {% if product.product_quantity <= 0 %}{{ "disabled" }}{% endif %}" type="button" title="{% if product.product_quantity <=0 %}{{ product.product_stock }}{% else %}{{ button_cart }}{% endif %}" onclick="{% if product.product_quantity <=0 %}{% else %}cart.add('{{ product.product_id }}'){% endif %}"{% if product.product_quantity <=0 %}{{ "" }} {% endif %}>
			 {% if product.product_quantity <=0 %}
				{{ "<i class=\"fa fa-shopping-cart\"></i><span class=\"out of stock\">"~product.product_stock }}
				{% else %} 
				{{ "<i class=\"fa fa-shopping-cart\"></i> <span class=\"hidden-xs hidden-sm hidden-md\">"~button_cart }}
			{% endif %}
			</span></button>
			<button class="btn-compare" title="{{ button_compare }}"  onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i>
			<span title="{{ button_compare }}">{{ button_compare }}</span>
			</button>
			<button class="btn-quickview" type="button" title="{{ button_quickview }}" onclick="tt_quickview.ajaxView('{{ product.href }}')"><i class="fa fa-eye"></i>
				<span title="{{ button_quickview }}">{{ button_quickview }}</span>
		</button>
		  </div>
	  </div>
	  </div>
      </div>
      		 {% endfor %} {# foreach END #}

    </div>
</div>
{% endif %}

{% if latest_products%}
  <div id="tab-latest-{{ module }}" class="tab-pane row">
	<div class="products-carousel">
	  {% for product in latest_products %}
	  	<div class="product-layouts">
		  <div class="product-thumb transition">
		  <div class="ttimge-bg"></div>
		  <div class="image">
		{% if product.thumb_swap %}
				<a href="{{ product.href }}">
					<img class="image_thumb" src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" />
					<img class="image_thumb_swap" src="{{ product.thumb_swap }}" title="{{ product.name }}" alt="{{ product.name }}" />
				</a>
	
			{% else %}
	
				<a href="{{ product.href }}">
					<img class="img-responsive" src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" />
				</a>
		{% endif %}
			{% if product.special %}
			  <div class="sale-icon">Sale</div>
			  <span class="percent">-{{ product.percent }}%</span>
			{% endif %}
			         <button class="btn-wishlist" title="{{ button_wishlist }}"  onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i>
		<span title="{{ button_wishlist }}">{{ button_wishlist }}</span>
		</button>

		  </div>
		  <div class="thumb-description">
		  <div class="caption">
			
			<h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
		
		{% if product.rating %}
		<div class="rating">
		  {% else %}
			<div class="rating no-rating">
		  {% endif %}
          {% for i in 1..5 %}
          {% if product.rating < i %}
          <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
          {% else %}
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
		  {% endif %}
		   {% endfor %}
        </div>
        <!--<p class="description">{{ product.description }}</p>-->
      
        {% if product.price %}
        <div class="price">
          {% if not product.special %}
          {{ product.price }}
          {% else %}
          <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
		  {% endif %} 
          {% if product.tax %}
          	<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
		  {% endif %}
        </div>
		{% endif %}
		
      </div>
        <div class="button-group">
		  <button class="btn-cart{% if product.product_quantity<=0 %} {{ "disabled" }} {% endif %}" type="button" title="{% if product.product_quantity <=0 %}{{ product.product_stock }}{% else %}{{ button_cart }}{% endif %}" onclick="{% if product.product_quantity <=0 %}{% else %}cart.add('{{ product.product_id }}'){% endif %}"{% if product.product_quantity <=0 %}{{ "" }} {% endif %}>
		 {% if product.product_quantity <=0 %}
			{{ "<i class=\"fa fa-shopping-cart\"></i><span class=\"out of stock\">"~product.product_stock }}
			{% else %} 
			{{ "<i class=\"fa fa-shopping-cart\"></i> <span class=\"hidden-xs hidden-sm hidden-md\">"~button_cart }}
		{% endif %}
		</span></button>
        <button class="btn-compare" title="{{ button_compare }}"  onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i>
		<span title="{{ button_compare }}">{{ button_compare }}</span>
		</button>
		<button class="btn-quickview" type="button" title="{{ button_quickview }}" onclick="tt_quickview.ajaxView('{{ product.href }}')"><i class="fa fa-eye"></i>
		<span title="{{ button_quickview }}">{{ button_quickview }}</span>
		</button>
      </div>
	  </div>
	  </div>
	    </div>	
		{% endfor %}
	</div>
</div>
{% endif %}


{% if bestseller_products%}
 <div id="tab-bestseller-{{ module }}" class="tab-pane row">
    <div class="products-carousel">
      {% for product in bestseller_products %}

      <div class="product-layouts">
          <div class="product-thumb transition">
		  <div class="ttimge-bg"></div>
      <div class="image">
		{% if product.thumb_swap %}
				<a href="{{ product.href }}">
					<img class="image_thumb" src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" />
					<img class="image_thumb_swap" src="{{ product.thumb_swap }}" title="{{ product.name }}" alt="{{ product.name }}" />
				</a>

			{% else %}

				<a href="{{ product.href }}">
					<img class="img-responsive" src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" />
				</a>
		{% endif %} 
        {% if product.special %}
		  <div class="sale-icon">Sale</div>
		  <span class="percent">-{{ product.percent }}%</span>
		{% endif %}		
		<button class="btn-wishlist" title="{{ button_wishlist }}"  onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i>
		<span title="{{ button_wishlist }}">{{ button_wishlist }}</span>
		</button>
	  </div>
	  <div class="thumb-description">
      <div class="caption">
	  
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
		
		{% if product.rating %}
		<div class="rating">
		  {% else %}
			<div class="rating no-rating">
		  {% endif %}
          {% for i in 1..5 %}
          {% if product.rating < i %}
          <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
          {% else %}
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
		  {% endif %}
		   {% endfor %}
        </div>
		
        <!--<p class="description">{{ product.description }}</p>-->
      
        {% if product.price %}
        <div class="price">
          {% if not product.special %}
          {{ product.price }}
          {% else %}
          <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
          {% endif %}
          {% if product.tax %}
          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          {% endif %}
        </div> 
	  {% endif %}
      </div>
        <div class="button-group">
        <button class="btn-cart{% if product.product_quantity<=0 %} {{ "disabled" }} {% endif %}" type="button" title="{% if product.product_quantity <=0 %}{{ product.product_stock }}{% else %}{{ button_cart }}{% endif %}" onclick="{% if product.product_quantity <=0 %}{% else %}cart.add('{{ product.product_id }}'){% endif %}"{% if product.product_quantity <=0 %}{{ "" }} {% endif %}>
		 {% if product.product_quantity <=0 %}
			{{ "<i class=\"fa fa-shopping-cart\"></i><span class=\"out of stock\">"~product.product_stock }}
			{% else %} 
			{{ "<i class=\"fa fa-shopping-cart\"></i> <span class=\"hidden-xs hidden-sm hidden-md\">"~button_cart }}
		{% endif %}
		</span></button>
        <button class="btn-compare" title="{{ button_compare }}"  onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i>
		<span title="{{ button_compare }}">{{ button_compare }}</span></button>
		<button class="btn-quickview" type="button" title="{{ button_quickview }}" onclick="tt_quickview.ajaxView('{{ product.href }}')"><i class="fa fa-eye"></i>
		<span title="{{ button_quickview }}">{{ button_quickview }}</span>
		</button>
      </div>
	  </div>
	  </div>
        </div>
	  		
      		 {% endfor %}  {# foreach END #}
    </div>
</div>
{% endif %}



{% if special_products%}
 <div id="tab-special-{{ module }}" class="tab-pane row">
    <div class="products-carousel">
	  {% for product in special_products %}
			
      <div class="product-layouts">
          <div class="product-thumb transition">
		<div class="ttimge-bg"></div>
      <div class="image">
		{% if product.thumb_swap %}
				<a href="{{ product.href }}">
					<img class="image_thumb" src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" />
					<img class="image_thumb_swap" src="{{ product.thumb_swap }}" title="{{ product.name }}" alt="{{ product.name }}" />
				</a>

			{% else %}

				<a href="{{ product.href }}">
					<img class="img-responsive" src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" />
				</a>
			{% endif %}
        {% if product.special %}
		  <div class="sale-icon">Sale</div>
		  <span class="percent">-{{ product.percent }}%</span>
		{% endif %}
		        <button class="btn-wishlist"  title="{{ button_wishlist }}"  onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i>
		<span title="{{ button_wishlist }}">{{ button_wishlist }}</span>
		</button>
	  </div>
	  <div class="thumb-description">
      <div class="caption">
	    
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
		
		{% if product.rating %}
		<div class="rating">
		  {% else %}
			<div class="rating no-rating">
		  {% endif %}
          {% for i in 1..5 %}
          {% if product.rating < i %}
          <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
          {% else %}
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
		  {% endif %}
		   {% endfor %}
        </div>
        <!--<p class="description">{{ product.description }}</p>-->
        
        {% if product.price %}
        <div class="price">
          {% if not product.special %}
          {{ product.price }}
          {% else %}
          <span class="price-new">{{ product.special }}</span> 
		  <span class="price-old">{{ product.price }}</span>
          {% endif %}
          {% if product.tax %}
          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          {% endif %}
        </div>
		{% endif %} 

      </div>
        <div class="button-group">
		<button class="btn-cart{% if product.product_quantity<=0 %} {{ "disabled" }} {% endif %}" type="button" title="{% if product.product_quantity <=0 %}{{ product.product_stock }}{% else %}{{ button_cart }}{% endif %}" onclick="{% if product.product_quantity <=0 %}{% else %}cart.add('{{ product.product_id }}'){% endif %}"{% if product.product_quantity <=0 %}{{ "" }} {% endif %}>
		 {% if product.product_quantity <=0 %}
			{{ "<i class=\"fa fa-shopping-cart\"></i><span class=\"out of stock\">"~product.product_stock }}
			{% else %} 
			{{ "<i class=\"fa fa-shopping-cart\"></i> <span class=\"hidden-xs hidden-sm hidden-md\">"~button_cart }}
		{% endif %}
		</span></button>
        <button class="btn-compare" title="{{ button_compare }}"  onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i>
		<span title="{{ button_compare }}">{{ button_compare }}</span></button>
		<button class="btn-quickview" type="button" title="{{ button_quickview }}" onclick="tt_quickview.ajaxView('{{ product.href }}')"><i class="fa fa-eye"></i>
		<span title="{{ button_quickview }}">{{ button_quickview }}</span>
		</button>
      </div>
	  </div>
	  </div>
       </div>	
	  		
      		 {% endfor %}  {# foreach END #}
		
 </div>
 </div>
{% endif %}
</div>
</div>
</div>


<script>
$('.TTProduct-Tab  .tab-box-heading > ul > li:first-child').addClass('active');
$('.TTProduct-Tab  .tab-content > .tab-pane:first-child').addClass('active');
var tttrendingproducts = $(".TTProduct-Tab .products-carousel.owl-carousel");
	tttrendingproducts.owlCarousel({
	items:4,
    itemsDesktop : [1170,4],
    itemsDesktopSmall : [991,3],
    itemsTablet: [767,2],
    itemsMobile : [480,1],
	navigation: true,
	pagination: false
    });
</script>